# ===========================================
# SHOWROOM E-CATALOG - Environment Variables
# ===========================================

# Context7 API Key (https://context7.com/dashboard)
CONTEXT7_API_KEY=ctx7sk-24179238-b1c5-4db2-aca2-50e7ae0e6980

# Strapi (akan diisi setelah setup backend)
STRAPI_TOKEN=
STRAPI_URL=http://localhost:1337

# Frontend
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=6281234567890
